html, body {
	max-width: 100%;
	overflow-x: hidden; 
}

/*.font-text{
	font-family: 'Fira Sans', sans-serif;
}
*/
.button-background{
	background-color: #4B4B4B;
	color: white;
}

.bg-color{
	background-color: #353535;
	color: white;
}

.background-body{
	background-color: #615E58;
}



.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

.bg-couleur{
	background-color: #8C8C8C;
}

.h-middle{
	height: 500px;
}

/*----- Captcha -----*/

.puzzle button{
	padding: 0;
	margin: 0;
}

/*----- Captcha -----*/

/*----- Avatar ------*/

#avatar-canva{
    position: relative;
}

.avatar-part{
    position: absolute;
    top: 0px;
    left: 30%;
}