html, body {
	max-width: 100%;
	overflow-x: hidden; 
}

/*.font-text{
	font-family: 'Fira Sans', sans-serif;
}
*/
.button-background{
	background-color: #4B4B4B;
	color: white;
}

.bg-color{
	background-color: #353535;
	color: white;
}

.background-body{
	background-color: #615E58;
}



.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}

.bg-couleur{
	background-color: #8C8C8C;
}

.h-middle{
	height: 500px;
}

.input-width{
	width: 100%;
	overflow: hidden; /* Empêche le dépassement des flottants. */
}

/*----- Captcha -----*/

.puzzle button{
	padding: 0;
	margin: 0;
}

/*----- Captcha -----*/

/*----- Avatar ------*/

#avatar-canva{
    position: relative;
}

.avatar-part{
    position: absolute;
    top: 0px;
    left: 38%;
}

/*----- Card -----*/

.cardh {
    object-fit: contain; 
    height: 200px;
    width: 100%;
}

/* Preview-image */

.image-preview {
	width : 300px;
	min-height: 100px;
	border : 2px solid #dddddd;
	margin-top: 15px;
}
.text-preview{

	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #cccccc;

}

.image-preview_image {
	display: none;
	width : 100%;
}
